<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property name="LOG_FILE" value="logs/SpringBootLoggingTest" />
	<property name="FILE_LOG_PATTERN" value="%d %-4relative [%thread] %-5level %logger{35} - %msg%n" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</Pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	        <maxFileSize>1MB</maxFileSize>    
	        <maxHistory>3</maxHistory>
	        <totalSizeCap>10MB</totalSizeCap>
		</rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>